<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
     <h2>Employee Registration</h2>
    <form action="/api/register" method="post">
       <label>FirstName :</label>
       <input type ="text"  name="firstname"></input><br>
       
       <label>LastName :</label>
       <input type ="text" name="lastname"></input><br>
       
       <label>UserName :</label>
       <input type ="text" name="username"></input><br>
       
       <label>Email :</label>
       <input type ="email" name="email"></input><br>
       
       <label>Password :</label>
       <input type ="password" name="password"></input><br>
       
       
       <input type ="submit"></input>
     </form>
    
</body>
</html>